// background-colours
$lightBackground1: #f8f8f8;
$darkBackground1: rgba(#000, .8);

// colours
$green1: #7ed56f;
$green2: #28b485;

$grey1: #404040;
$grey2: #505050;
$grey3: #606060;
$grey4: #707070;

$animationBorder: 2px solid $green2;