@import
  'abstracts/variables',
  'abstracts/mixins';

@import
  'base/base',
  'base/animations',
  'base/typography',
  'base/utilities';

@import
  'layout/footer',
  'layout/header';

@import
  'components/button',
  'components/nav',
  'components/project';

@import
  'pages/home';