.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: $grey1;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: 2px;

    &:hover {
      background-color: darken($grey1, 10%);
      color: $green2;
    }
  }

  &--primary {
    border-radius: 6px;
    padding: 1rem 2rem;

    &:active {
      transform: translateY(3px);
    }
  }

  &--huge {
    border-radius: 100px;
    padding: 3rem 6rem;
    @include respondTo(small) {
      padding: 3rem 4rem;
    }
  }
}

.menu-btn {
  cursor: pointer;
  position: relative;
  padding: 2rem;

  @include respondTo(large) {
    font-size: 2.5rem;
  }

  &:hover {
    color: $green2;
  }
}

.close-btn {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
  font-size: 8rem;
  transition: color .4s;
  line-height: 0;
  padding: 1rem 3rem;

  &:hover {
    color: $green2;
  }
}