.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: $grey1;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: 2px;

    &:hover {
      background-color: darken($grey1, 10%);
      color: $green2;
    }
  }

  &--primary {
    border-radius: 6px;
    padding: 1rem 2rem;

    &:active {
      transform: translateY(3px);
    }
  }

  &--huge {
    border-radius: 100px;
    padding: 3rem 6rem;
  }
}

.menu-btn {
  cursor: pointer;
  position: relative;

  &,
  &::before,
  &::after {
    background-color: #fff;
    display: inline-block;
    width: 1.6rem;
    height: 2px;
    display: inline-block;
  }
  
  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: -5px;
  }
  
  &::after {
    bottom: -5px;
  }
}