.dark-background {
  background-color: $darkBackground1;
  *, *::before, *::after { color: #fff; };
}

.light-background {
  background-color: $lightBackground1;
  .heading-2 { color: $grey1; };
  .heading-3 { color: $grey2; };
  .paragraph, .heading-4 { color: $grey3; };
  a { color: $grey4; };
}

.flex { display: flex; };