.about {
  background-color: $lightBackground1;
  padding: 8rem 0;
}

.skills {
  background-color: $darkBackground1;
  padding: 8rem 0;
  color: #fff;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 4rem 2rem;
    align-items: center;
    justify-items: center;
  }

  &__item {
    transition: color .3s;
    font-size: 10rem;
    &:hover {
      color: $green2;
    }
  }
}

.projects {
  background-color: $lightBackground1;
  padding: 10rem 0;
  
  @include respondTo(large) {
    padding: 6rem 0;
  }

  &__content {
    @include respondTo(large) {
      margin-top: -6rem;
    }
  }
}